body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f9;
	color: #333;
	border: 3px solid #acabab;
	min-width: 300px;
	max-width: 300px;
	min-height: 100px;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

header {
	text-align: center;
	background-color: #4caf50;
	padding: 10px 0;

	h1 {
		margin: 0;
		color: #fff;
		font-size: 1rem;
		margin-bottom: 30px;
		cursor: pointer;
	}
}

#popup-content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	text-align: center;

	margin-bottom: 20px;
	padding: 30px 20px 10px 20px;
	width: 100%;

	.icons {
		border: 2px solid transparent;
		border-radius: 8px;
		transition: transform 0.3s, border-color 0.3s;

		&:hover {
			transform: scale(1.5);
			cursor: pointer;

			&::after {
				content: attr(alt);
				position: absolute;
				background-color: #4caf50;
				color: #fff;
				padding: 5px 10px;
				border-radius: 4px;
				font-size: 0.8rem;
				top: 40px;
				left: 50%;
				transform: translateX(-50%);
				white-space: nowrap;
				z-index: 1;
			}
		}
	}
}

footer {
	text-align: right;
	color: black;
	font-style: italic;
	font-size: 1.2rem;
	margin-top: 10px;
	padding-right: 5px;
}

.hidden {
	display: none;
}

#secondary-page {
	display: none;

	.sticky-bar {
		position: sticky;
		top: 0;
		background-color: #333;
		color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;

		.title {
			font-size: 1.2rem;
		}

		#back {
			background-color: #a4a4a4bb;
			color: #fff;
			border: none;
			padding: 5px 10px;
			border-radius: 4px;
			cursor: pointer;
			transition: background-color 0.3s;

			&:hover {
				background-color: #c5c5c5bb;
			}
		}
	}

	.options-container {
		max-height: 300px;
		overflow-y: auto;
		padding: 10px;

		label {
			display: flex;
			align-items: center;
			margin-bottom: 10px;

			input[type="checkbox"] {
				margin-right: 10px;
			}
		}
	}

	.apply-btn {
		display: block;
		width: 100%;
		background-color: #4caf50;
		color: #fff;
		text-align: center;
		border: none;
		padding: 10px 0;
		border-radius: 1px;
		margin-top: 10px;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: #45a049;
		}
	}
}
